<p id="notice"><%= notice %></p>

<h1>Marks</h1>

<table>
  <thead>
    <tr>

      <th>Subj</th>
      <th>Date</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @marks.each do |mark| %>
      <tr>

        <td><%= mark.subj %></td>
        <td><%= mark.date %></td>
        <td><%= mark.value %></td>
        <% if session[:status] == 'teacher' %>
          <td><%= link_to 'Edit', edit_mark_path(mark) %></td>
          <td><%= link_to 'Destroy', mark, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if session[:status] == 'teacher' %>
  <% if params[:id] != nil %>
    <%= link_to 'New Mark', new_mark_path(:to => params[:id]) %>
  <% end %>
<% end %>
