<!DOCTYPE html>
<html>
  <head>
    <title>Ruby school</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  
    <header>
      <%= image_tag("ruby.png") %>
      <%= @page_title || "Ruby school" %>
    </header>
    <main>
      <div class="menu">
        <ul>

        You are <%= session[:status] || 'guest' %>!<br><br><br>
 
          <li><a href="/">Teachers list</a></li>

          <li> <%= link_to "Pupils list", pupils_path %> </li><br>

          <% if session[:status] != 'teacher' && session[:status] != 'pupil' %>

            <li> <%= link_to "Sign up new teacher", new_user_path %> </li>
            <li> <%= link_to "Sign up new pupil", new_pupil_path %> </li><br>
            <li> <%= link_to "Sign_in - teacher", login_teacher_path%> </li>
            <li> <%= link_to "Sign_in - pupil", login_pupil_path %> </li>
          <% else %>

            <li> <%= link_to "Logout", logout_url, method: :delete %> </li>

          <% end %>
       
        </ul>
      </div>
      <div class="field">
        <%= yield %>
      </div>
    </main>
    
  </body>
</html>
