<%= form_with(model: pupil, local: true) do |form| %>
  <% if pupil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pupil.errors.count, "error") %> prohibited this pupil from being saved:</h2>

      <ul>
      <% pupil.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
  <legend>sign up us pupil</legend>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login, id: :pupil_login %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pupil_name %>
  </div>

  <div class="field">
    <%= form.label :classroom %>
    <%= form.number_field :classroom, id: :pupil_classroom, in: 1..12 %>
  </div>

  
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password, id: :pupil_password %>
  </div>

    <div class="field">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :pupil_password %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  </fieldset>
<% end %>
